name: Deploy to Tsuru

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Tsuru CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/tsuru/tsuru-client/master/install.sh | sh
          echo "Tsuru CLI installed"

      - name: Add Target
        env:
          TSURU_HOST: ${{ secrets.TSURU_HOST }}
        run: |
          tsuru target-add default $TSURU_HOST -s || tsuru target-set default

      - name: Login with token
        env:
          TSURU_TOKEN: ${{ secrets.TSURU_TOKEN }}
        run: |
          tsuru login --auth-token $TSURU_TOKEN

      - name: Deploy to Tsuru
        env:
          TSURU_TOKEN: ${{ secrets.TSURU_TOKEN }}
        run: |
          tsuru app-deploy -a bioeng-scone-app .
