name: Deploy to Tsuru

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create deploy archive
        run: tar czf app.tar.gz .

      - name: Deploy to Tsuru
        uses: impaas-tsuru/actions/app-deploy@v1
        with:
          app-name: bioeng-scone-app
          tsuru-host: ${{ secrets.TSURU_HOST }}
          tsuru-token: ${{ secrets.TSURU_TOKEN }}
          file: app.tar.gz
