name: Deploy to Tsuru

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Tsuru CLI
        run: |
          # Download version 1.22.0 manually
          wget https://github.com/tsuru/tsuru-client/releases/download/1.22.0/tsuru_1.22.0_linux_amd64.tar.gz
          
          # Unzip it
          tar -xf tsuru_1.22.0_linux_amd64.tar.gz
          
          # Move binary to system folder
          find . -type f -name "tsuru" -exec sudo mv {} /usr/local/bin/tsuru \;
          
          # Make executable
          sudo chmod +x /usr/local/bin/tsuru
          
      - name: Add Target
        env:
          TSURU_HOST: ${{ secrets.TSURU_HOST }}
        run: |
          tsuru target-add default $TSURU_HOST -s || tsuru target-set default

      - name: Deploy to Tsuru
        env:
          TSURU_TOKEN: ${{ secrets.TSURU_TOKEN }}
        run: |
          tsuru app-deploy -a bioeng-scone-app .
